/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: oklch(0.6171 0.1375 39.0427);
  --ifm-color-primary-dark: oklch(0.58 0.1375 39.0427);
  --ifm-color-primary-darker: oklch(0.56 0.1375 39.0427);
  --ifm-color-primary-darkest: oklch(0.52 0.1375 39.0427);
  --ifm-color-primary-light: oklch(0.66 0.1375 39.0427);
  --ifm-color-primary-lighter: oklch(0.69 0.1375 39.0427);
  --ifm-color-primary-lightest: oklch(0.73 0.1375 39.0427);
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme="dark"] {
  --ifm-color-primary: oklch(0.6724 0.1308 38.7559);
  --ifm-color-primary-dark: oklch(0.63 0.1308 38.7559);
  --ifm-color-primary-darker: oklch(0.6 0.1308 38.7559);
  --ifm-color-primary-darkest: oklch(0.56 0.1308 38.7559);
  --ifm-color-primary-light: oklch(0.71 0.1308 38.7559);
  --ifm-color-primary-lighter: oklch(0.75 0.1308 38.7559);
  --ifm-color-primary-lightest: oklch(0.79 0.1308 38.7559);
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}
